{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class='container' style='height:150px;'></div>
        <div style="display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;">
            <a href="{{url_for('/transactions/')}}">
            <button class="btn btn-primary btn-lg" style="width: 400px; height: 100px;">Transactions</button>
            <a href="{{url_for('homepage')}}">
            <button class="btn btn-primary btn-lg" style="width: 400px; height: 100px;">Rental</button>
        </div>
        <div style="display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin-top: 4px;">
            <a href="{{url_for('personal_info')}}">
            <button class="btn btn-primary btn-lg" style="width: 400px; height: 100px;">Financial Schemes</button>
            <a href="{{url_for('/macros/')}}">
            <button class="btn btn-primary btn-lg" style="width: 400px; height: 100px;">Macros</button>
        </div>
    </div>
{% endblock %}
