{#this is a jinja comment#}
<html>
    <head>
        {#dl latest plotly js library#}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        {% if title %} {#special braces for jinja syntax#}
        <title>{{ title }} - Housing Webpage</title>
        {% else %}
        <title>Housing Webpage</title>
        {% endif %}
    </head>
    <body>
        <div>
            Select:
            <a href="{{url_for('homepage')}}">Home</a>
            <a href="{{url_for('personal_info')}}">Financial Scheme Suggestions</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% autoescape false %}
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            {% endautoescape %}
        </ul>
        {% endif %}
        {% endwith %}
        {#the following is where other .html extends this base.html#}
        {% block content %}{% endblock %}
    </body>
</html>
